<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/build.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>

  <body class="height-full">
    <div class="height-full d-flex flex-column">
      {{ template "navbar" }}
      <div class="emoji-picker flex-auto flex-column overflow-auto scrollContainer" id="emojis">
        {{ template "categories" . }}
      </div>
      <div class="width-full">
        <div class="p-2 d-flex flex-row flex-item-equal">
          <input id="search" class="flex-auto form-control width-full" autocomplete="off" placeholder="Search for emojis" autofocus/>
            {{ template "skin_tone_selector" (wrap "SkinToneSelections" .SkinToneSelections "Hand" .Hand) }}
        </div>
      </div>
    </div>
    <script defer src="/static/js/application.js"></script>
  </body>
</html>