{{ define "navbar" }}
<div class="width-full px-1 clearfix">
  <nav class="UnderlineNav">
    <div class="UnderlineNav-body width-full">
      <a href="#people" id="nav-people" role="tab" title="Smileys & People" class="UnderlineNav-item mr-0 py-1 col-3 js-category category-column">😄</a>
      <a href="#animals_and_nature" id="nav-animals_and_nature" role="tab" title="Animals & Nature" class="UnderlineNav-item mr-0 py-1 col-3 js-category category-column">🐶</a>
      <a href="#food_and_drink" id="nav-food_and_drink" role="tab" title="Food & Drink" class="UnderlineNav-item mr-0 py-1 col-3 js-category category-column">🍔</a>
      <a href="#activity" id="nav-activity" role="tab" title="Activity" class="UnderlineNav-item mr-0 py-1 col-3 js-category category-column">⚾️</a>
      <a href="#travel_and_places" id="nav-travel_and_places" role="tab" title="Travel & Places" class="UnderlineNav-item mr-0 py-1 col-3 js-category category-column">🚗</a>
    </div>
  </nav>
</div>
{{ end }}